.vscode/
.terraform/
*.log
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
src/node_modules
src/package-lock.json
.cache/
.bash_history
.terraform.lock.hcl
.theia/
.docker/
.npm/
.redhat/
.terraform.d/
.config/